<%= render 'shared/header'%>
<%= render 'shared/side_bar'%>

<div class='title-contents'>
    <h2 class='service-title'>
      Make friends who are from another countries
  </div>
  <%# //画面上部帯部分 %>

</div>